* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #161615;
    display: flex;
    font-family:'Josefin Sans', sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border: 0;
}
.container {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #222221;
    border-radius: 30px;
    border: 2px solid #000000;
    width: 450px;
    max-width: 100%;
}

.header {
    padding: 30px 40px;
}

.header h2 {
    font-weight: 600;
    color: #e2d515;
    font-size: 30px;
}

.form {
    padding: 0 40px 30px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    color: #e2d515;
}

.form-control input {
    border: 2px solid #3E445B;
    border-radius: 30px;
    outline: 0;

    display: block;

    font-size: 14px;

    width: 100%;
    padding: 15px;
}

.form-control.success input {
    border: 3px solid #4ECA64;
}

.form-control.error input {
    border: 3px solid #DB5A5A;
}

.form-control.error i.img-error {
    visibility: visible;
}

.form-control.success i.img-success {
    visibility: visible;
}

.form-control.error small{
    color: #DB5A5A;
    visibility: visible;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;

}

.form button {
    background-color: #e2d515;
    border-radius: 30px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;

    margin-top: 5px;

    cursor: pointer;
}

.form button:hover {
    background-color: #b9ae15;
    transition: 0.3s;
}
.txt {
    color:#000000
}
